<div class="container">
    <h1>Buttons</h1>
    <mat-divider>
    </mat-divider>
    <div class="btn-wrapper mt-3">
        <mat-card class="btn-card">
            <h2>Basic Buttons</h2>
            <div class="btn-row">
                <button mat-button>Basic</button>
                <button mat-button color="primary">Primary</button>
                <button mat-button color="accent">Accent</button>
                <button mat-button color="warn">Warn</button>
                <button mat-button disabled>Warn</button>
                <a mat-button href="https://www.linkedin.com/in/shaikh-abdul-sohail/" target="_blank"
                    title="Shaikh Abdul Sohail Linked In Profile">Link</a>
            </div>
        </mat-card>
        <mat-card class="btn-card">
            <h2>Raised Buttons</h2>
            <div class="btn-row">
                <button mat-raised-button>Basic</button>
                <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="accent">Accent</button>
                <button mat-raised-button color="warn">Warn</button>
                <button mat-raised-button disabled>Warn</button>
                <a mat-raised-button href="https://www.linkedin.com/in/shaikh-abdul-sohail/" target="_blank"
                    title="Shaikh Abdul Sohail Linked In Profile">Link</a>
            </div>
        </mat-card>
        <mat-card class="btn-card">
            <h2>Stroked Buttons</h2>
            <div class="btn-row">
                <button mat-stroked-button>Basic</button>
                <button mat-stroked-button color="primary">Primary</button>
                <button mat-stroked-button color="accent">Accent</button>
                <button mat-stroked-button color="warn">Warn</button>
                <button mat-stroked-button disabled>Warn</button>
                <a mat-stroked-button href="https://www.linkedin.com/in/shaikh-abdul-sohail/" target="_blank"
                    title="Shaikh Abdul Sohail Linked In Profile">Link</a>
            </div>
        </mat-card>
        <mat-card class="btn-card">
            <h2>Flat Buttons</h2>
            <div class="btn-row">
                <button mat-flat-button>Basic</button>
                <button mat-flat-button color="primary">Primary</button>
                <button mat-flat-button color="accent">Accent</button>
                <button mat-flat-button color="warn">Warn</button>
                <button mat-flat-button disabled>Warn</button>
                <a mat-stroked-button href="https://www.linkedin.com/in/shaikh-abdul-sohail/" target="_blank"
                    title="Shaikh Abdul Sohail Linked In Profile">Link</a>
            </div>
        </mat-card>
        <mat-card class="btn-card">
            <h2>Icon Buttons</h2>
            <div class="btn-row">
                <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
                <button mat-icon-button color="primary"><mat-icon>home</mat-icon></button>
                <button mat-icon-button color="accent"><mat-icon>menu</mat-icon></button>
                <button mat-icon-button color="warn"><mat-icon>favorite</mat-icon></button>
                <button mat-icon-button disabled><mat-icon>open_in_new</mat-icon></button>
                <button mat-icon-button>
                    <mat-icon>
                        <mat-spinner color="primary" diameter="20">
                        </mat-spinner>
                    </mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>
                        <mat-spinner color="accent" diameter="20">
                        </mat-spinner>
                    </mat-icon>
                </button>
            </div>
        </mat-card>
        <mat-card class="btn-card">
            <h2>FAB Buttons</h2>
            <div class="btn-row">
                <button mat-fab color="primary"><mat-icon>delete</mat-icon></button>
                <button mat-fab color="accent"><mat-icon>bookmark</mat-icon></button>
                <button mat-fab color="warn"><mat-icon>home</mat-icon></button>
                <button mat-fab disabled><mat-icon>favorite</mat-icon></button>
            </div>
        </mat-card>
        <mat-card class="btn-card">
            <h2>Mini FAB</h2>
            <div class="btn-row">
                <button mat-mini-fab color="primary"><mat-icon>menu</mat-icon></button>
                <button mat-mini-fab color="accent"><mat-icon>exposure_plus_1</mat-icon></button>
                <button mat-mini-fab color="warn"><mat-icon>filter_list</mat-icon></button>
                <button mat-mini-fab disabled><mat-icon>home</mat-icon></button>
            </div>
        </mat-card>
        <mat-card class="btn-card">
            <h2>Basic Buttons</h2>
            <div class="btn-row">
                <button mat-raised-button>
                    Basic
                    <mat-icon>
                        <mat-spinner color="primary" diameter="20">
                        </mat-spinner>
                    </mat-icon>
                </button>
                <button mat-raised-button color="primary">
                    Primary
                    <mat-icon>
                        <mat-spinner color="accent" diameter="20">
                        </mat-spinner>
                    </mat-icon>
                </button>
                <button mat-raised-button color="accent">
                    Accent
                    <mat-icon>
                        <mat-spinner color="primary" diameter="20">
                        </mat-spinner>
                    </mat-icon>
                </button>
                <button mat-raised-button color="warn">
                    Warn
                    <mat-icon>
                        <mat-spinner color="accent" diameter="20">
                        </mat-spinner>
                    </mat-icon>
                </button>
                <a mat-raised-button disabled href="https://www.linkedin.com/in/shaikh-abdul-sohail/" target="_blank"
                    title="Shaikh Abdul Sohail Linked In Profile">
                    Link
                    <mat-icon>
                        <mat-spinner color="warn" diameter="20">
                        </mat-spinner>
                    </mat-icon>
                </a>
            </div>
        </mat-card>
    </div>
</div>