<div class="container">
    <h2>Elevation</h2>
    <mat-divider>
    </mat-divider>
    <div class="content">
        <div class="row">
            <div class="col-3">
                <a routerLink="/buttons">
                    <mat-card class="component-card bg-hover mat-elevation-z1">
                        <mat-icon>smart_button</mat-icon>
                        Buttons
                    </mat-card>
                </a>
            </div>
            <div class="col-3">
                <a routerLink="/buttons">
                    <mat-card class="component-card bg-hover mat-elevation-z4">
                        <mat-icon>smart_button</mat-icon>
                        Buttons
                    </mat-card>
                </a>
            </div>
            <div class="col-3">
                <a routerLink="/buttons">
                    <mat-card class="component-card bg-hover mat-elevation-z8">
                        <mat-icon>smart_button</mat-icon>
                        Buttons
                    </mat-card>
                </a>
            </div>
            <div class="col-3">
                <a routerLink="/buttons">
                    <mat-card class="component-card bg-hover mat-elevation-z16">
                        <mat-icon>smart_button</mat-icon>
                        Buttons
                    </mat-card>
                </a>
            </div>
            <div class="col-3">
                <a routerLink="/buttons">
                    <mat-card class="component-card bg-hover mat-elevation-z24">
                        <mat-icon>smart_button</mat-icon>
                        Buttons
                    </mat-card>
                </a>
            </div>
        </div>
    </div>
</div>